<div class="container">
  <h1>Restaurants</h1>
  <div class="restaurants">
    <% @restaurants.each do |restaurant|  %>
      <div class="card mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h5>
          <p class="card-text"> <%= restaurant.address %> </p>
          <p>Téléphone: <%= restaurant.phone_number %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add new restaurant", new_restaurant_path %>
</div>
